body {
 margin: 0;
}

.wrapper{
  width: 68%;
  margin: auto;
}

.logo, .menu{
  display:inline-block;
}

.header{
  display:flex;
  justify-content:space-between;
}

.logo{
  position:relative;
  padding:40px 0px;
  padding-left: 44px;
  font: bold 24px/32px PT_Serif, arial, helvetica, sans-serif;
}

.logo__circle {
  position:absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;
}

.logo__circle_color_dark-blue{
  background: #0056EC;
}

.menu{
  display:flex;
  align-items:center;
}

.menu__item{
  padding:0px 13px;
  font-family: 'Roboto', normal, 500;
  height: 14px;
  font-size: 16px;
}

.menu__item:last-child{
  padding:0px 0px 0px 13px;
}

.main-content, .image-content{
  display:inline-block;
}

.main-section{
  display:flex;
  justify-content:space-between;
  margin: 80px 0px 0px;
}

.main-content{
   width: 47%;
}

.main-content__title{
  margin:0px 0px;
  padding: 17px 0px 0px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 66px;
}

.main-content__paragraph, .main-content__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

.main-content__paragraph{
  margin:0px;
  padding: 40px 0px 41px;
  width: 85%;
  font-size: 18px;
  line-height: 21px;
}

.main-content__button{
  width: 209px;
  height: 44px;
  font-size: 14px;
  line-height: 16px;
  margin: 0px 0px 59px;
  background: #0056EC;
  color: #FFFFFF;
}


.image-footer{
  display:flex;
  justify-content:center;
  margin: 88px 0px 38px;
}